/**
    ACTION

    Container for action step buttons

    [1]. Clear floating buttons
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_action-pad: 20px;
$_action-border: 1px solid palette(layout, border);

/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-actions {
    border:0;
    padding: 0 $padding-small;

    // [1]
    @include clearfix;

    @media #{$mq-medium} {
        padding: $_action-pad;
    }
    
    @media #{$mq-small} {
        padding: $_action-pad 0;
    }
}

.snip-actions--no-border {
    border-top: none;
}

.snip-actions--top {
    border-top: none;
    border-bottom: $_action-border;
}

.snip-actions__link {
    color: palette(action, link);
    @include font-bold();
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1em;
}

.snip-actions__link--small {
    font-size: fontsize(action, base);
}

.snip-actions__link--right {
    float: right;
}